/*-- scss:defaults --*/

// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Base document colors
// $body-bg: #f3f3f3;
// $body-color: #212121ff;
// RED link:
// $link-color: #b5171d; RED Polytechnique
$link-color: rgb(58, 70, 245); // Blue ENSTA
// YELLOW link:
// $link-color: #bf8f43ff;
// $navbar-bg: #27466bff;
$navbar-bg: rgb(23, 15, 57);
// $h2-font-size: 20px;
$navbar-fg: #ffffff;

/*-- scss:rules --*/

.navbar-logo {
  height: 2em;
}



h1 {
  // color: #27466bff;  // dark Blue Polytechnique
  color: rgb(23, 15, 57);  // dark Blue ENSTA
}

h2 {
  // color: rgb(43, 80, 122); // dark Blue Polytechnique
  color: rgb(23, 15, 57); // dark Blue ENSTA
}

h3 {
  // color: rgb(43, 80, 122); // dark Blue Polytechnique
  color: rgb(23, 15, 57); // dark Blue ENSTA
}

.navbar {
//  background-image: url("Resources/Images/BackGroundCode.png");
//  background-color: rgb(23, 15, 57);  
  background-size: cover; /* Adjust as needed */
  background-position: center;
  // height: 120px; /* Adjust this value as needed */
  display: flex;
  align-items: center; /* Center-aligns the content vertically */
}

.navbar-logo {
  max-height: 50px;
}

body {
  font-weight: 380; 
  font-size: medium;
  text-align: justify;
}

//  REQUIRED BLOCK TO CHANGE HEIGHT THAT WORKS IN MOBILE MODE 
// .navbar-collapse.show  {
//   transition: background-color 0s; /* Instant change, no animation */
//   background-color: #00436d;
//   background-size: cover; 
//   background-position: center;
// }


// /* Adjust for inner elements like the brand/logo if necessary */
// .navbar-brand, .navbar-nav {
//   line-height: 120px; /* Match this value to the navbar height for vertical alignment */
// }

// SCSS for rounded box buttons
.button {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    border-radius: 10px; // Makes the button rounded
    background-color: rgba(23, 15, 57, 0.85); // Primary color
    color: white;
    text-decoration: none;
    // font-size: 1rem;
    // font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: rgb(41, 43, 151); // Darker shade on hover
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adds a shadow
      font-size: 0.97rem;
    }

    &:active {
      background-color: rgb(23, 15, 57); // Even darker for active state
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); // Inset shadow
      font-size: 0.97rem;
    }

    span.button-text {
      margin-left: 0.5rem; // Spacing between icon and text
    }
  }
}



.talk-card {
  border: 1px solid rgba(23, 15, 57, 0.8);
  padding: 0 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(23, 15, 57, 0.1);
  background-color: rgba(58, 70, 245, 0.03);
}


// scss for about page


div.quarto-about-trestles {
  background-color: var(--bs-body-bg) !important;
  margin-top: 60vh; /* This ensures the white background starts at the middle of the page */

  margin-left: 40 !important;
  margin-right: 40 !important;
  // width: 100vw;
  // max-width: 100vw;
  padding: 15vw; 

}

