/*-- scss:defaults --*/
// Base document colors
$body-bg: rgb(23, 15, 57);
// $body-color: #f3f3f3;
$body-color: #f3f3f3;
$link-color: rgb(58, 70, 245);
$navbar-bg: rgb(23, 15, 57);
$warning_color: #ffb700;
$pink : rgb(230,136,248);

/*-- scss:rules --*/

h2 {
    color: $link-color;
  }

  h1 {
    color: $link-color;
  }

  .mark-orange {
    // color: #ffb700;
    background-color: #ffb700;
    // padding: 0.2em 0.2em;
    border-radius: 4px;
  }


  body {
    font-weight: 380; 
    font-size: medium;
    text-align: justify;
  }

  .callout {
    margin-top: 1em;
    margin-bottom: 1em;  
    border-radius: .25rem;
  }
  
  .callout .callout-header {
  
    /* color: #eb1717; */
    font-family: bitter;
    font-size: 0.4rem;
    font-weight: 650;
    color: rgba(0, 67, 109, 0.9);
    /* body-bg: #7f401cff; */
    /* background-color: rgb(62, 194, 18); */
  
  }
  
  .callout.callout-style-simple { 
    padding: 0em 1.8em;
    border-left: solid #eb1717 0rem;
    border-right: solid 0px silver;
    border-top: solid 0px rgb(209, 6, 6);
    border-bottom: solid 0px silver;
    /* display: flex; */
  }
  
  .callout.callout-style-simple .callout-body {
    font-size: 0.8rem;
    font-weight: 350;
    /* body-bg: #7f401cff; */
    background-color: rgba(0, 67, 109, 0.03);
  }



  .button {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  
    a.button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 0.5rem;
      border-radius: 10px; // Makes the button rounded
      background-color: rgb(58, 70, 245); // Primary color
      color: white;
      text-decoration: none;
      // font-size: 1rem;
      // font-weight: 500;
      transition: background-color 0.3s, box-shadow 0.3s;
  
      &:hover {
        background-color: rgb(172, 62, 247); // Darker shade on hover
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adds a shadow
        font-size: 0.97rem;
      }
  
      &:active {
        background-color: rgb(58, 70, 245); // Even darker for active state
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); // Inset shadow
        font-size: 0.97rem;
      }
  
      span.button-text {
        margin-left: 0.5rem; // Spacing between icon and text
      }
    }
  }
  
  
  // scss for about page
  
  
  div.quarto-about-trestles {
    background-color: var(--bs-body-bg) !important;
    margin-top: 60vh; /* This ensures the white background starts at the middle of the page */
  
    margin-left: 40 !important;
    margin-right: 40 !important;
    // width: 100vw;
    // max-width: 100vw;
    padding: 15vw; 
  
  }



  .talk-card {
    border: 1px solid rgba(58, 70, 245, 0.8);
    padding: 0 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(58, 70, 245, 0.1);
    background-color: rgba(58, 70, 245, 0.03);
  }
